<section id="login-page">

  <div class="loginSection">
    <div class="info">
      <h2>Welcome, again!</h2>
      <p>View new posts.</p>
    </div>
    <form action="/login" method="POST" class="loginForm">
      <h2>Login</h2>

     

      <ul class="noBullet">
        <li>
          <label for="email">Email:</label>
          <input
            type="text"
            class="inputFields"
            id="email"
            name="email"
            value="{{user.email}}"
            placeholder="alex@gmail.com"
          />
        </li>

        {{#if errors.email}}
          <p class="error">{{errors.email}}</p>
        {{/if}}

        <li>
          <label for="password">Password:</label>
          <input
            type="password"
            class="inputFields"
            id="password"
            name="password"
            value="{{user.password}}"
            placeholder="*******"
          />
        </li>

        {{#if errors.password}}
          <p class="error">{{errors.password}}</p>
        {{/if}}

        <li id="center-btn">
          <button id="login-btn">Login</button>
        </li>
      </ul>
    </form>
  </div>

</section>